@font-face {
  font-family: 'Gotham Thin Italic';
  src: url('../../assets/fonts/Gotham-ThinItalic.ttf');
}

@font-face {
  font-family: 'Gotham Medium Italic';
  src: url('../../assets/fonts/Gotham-MediumItalic.ttf');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../../assets/fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../../assets/fonts/Gotham-Book.otf');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../../assets/fonts/GothamMedium.ttf');
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../../assets/fonts/Gotham-Black.ttf');
}
