@use '../../../styles/base';
@use '../../../styles/typography';

main {
  background-image: url('../../assets/background_liveboard.jpg');
}

#debug {
  p {
    max-width: 50%;
    margin-bottom: 0.5em;
    word-break: break-word;
  }
}

h1 {
  margin: 0.45em 0 0.6em;
  font-size: 80pt;
}

h2 {
  font-size: 60pt;
  margin: 37px 0 18px;
}

h3 {
  margin-top: 30px;
  width: 10em;
  font-size: 25pt;
}

section,
#now,
#forecast-1,
#forecast-2 {
  padding: 40px 42px;
  box-sizing: border-box;
}

#now,
#forecast-1 {
  height: 390px;
}
#forecast-2 {
  height: 570px;
}

#station-title {
  font-size: 1em;
  margin-bottom: 0.5em;
}

#today {
  font-size: 29pt;
  margin-bottom: 45px;
}

#notch-r.day {
  background-image: url('../../assets/wind_bg/wind_bg_day.png');
}
#notch-r.dusk {
  background-image: url('../../assets/wind_bg/wind_bg_dusk.png');
}
#notch-r.night {
  background-image: url('../../assets/wind_bg/wind_bg_night.png');
}

#notch-r {
  padding: 30px 42px;
  position: relative;
  background-image: url('../../assets/wind_bg/wind_bg_dusk.png');
  h4 {
    font-size: 30pt;
    span {
      font-family: 'Gotham Bold', Arial, Helvetica, sans-serif;
    }
  }
  .subh {
    font-size: 30pt;
  }
}

#compass-icon {
  position: absolute;
  top: 225px;
  left: 194px;
}

.temp {
  opacity: 0.6;
  margin-left: 0.4em;
}

.subh {
  font-size: 23pt;
}

#now.day,
#forecast-1.day {
  background-image: url('../../assets/day/small_banner_day.png');
}
#forecast-2.day {
  background-image: url('../../assets/day/medium_banner_day.png');
}
#now.dusk,
#forecast-1.dusk {
  background-image: url('../../assets/dusk/small_banner_dusk.png');
}
#forecast-2.dusk {
  background-image: url('../../assets/dusk/medium_banner_dusk.png');
}
#now.night,
#forecast-1.night {
  background-image: url('../../assets/night/small_banner_night.png');
}
#forecast-2.night {
  background-image: url('../../assets/night/medium_banner_night.png');
}

#now,
#forecast-1,
#forecast-2 {
  display: flex;
  justify-content: space-between;
}

.img-box {
  width: 343px;
  height: 310px;
  img {
    max-width: 160px;
  }
}

#moments-tag {
  position: fixed;
  top: 1720px;
  z-index: 99;
}
